[Unit]
Description=Cursor Application
After=network.target

[Service]
ExecStart=/opt/cursor/01-appimage_v6.9.34.AppImage
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
